h2 {
    color: blue;
}

.flex {
    display: flex;
}

.ml2 {
    margin-left: 20px;
}
#titre1{
    color: palevioletred;
    }
    #titre2{
        color: blue;
        }
        #titre3{
            color: green;
            }